<div class="tab-pane fade" id="elevation" role="tabpanel">
    <div class="chart-container">
        <canvas id="elevationChart" width="400" height="200"></canvas>
    </div>
    <div class="elevation-stats mt-3">
        <div class="row g-2">
            <div class="col-6">
                <small class="text-muted">Alt. min:</small>
                <div id="minElevation">-</div>
            </div>
            <div class="col-6">
                <small class="text-muted">Alt. max:</small>
                <div id="maxElevation">-</div>
            </div>
        </div>
    </div>
</div>