<div class="tab-pane fade show active" id="stats" role="tabpanel">
    <div id="basicStats">
        <div class="row g-2 mb-3">
            <div class="col-6">
                <div class="stat-card">
                    <div class="stat-value" id="totalDistance">-</div>
                    <div class="stat-label">Distance totale</div>
                </div>
            </div>
            <div class="col-6">
                <div class="stat-card">
                    <div class="stat-value" id="totalDuration">-</div>
                    <div class="stat-label">Durée estimée</div>
                </div>
            </div>
            <div class="col-6">
                <div class="stat-card">
                    <div class="stat-value" id="avgSpeed">-</div>
                    <div class="stat-label">Vitesse moy.</div>
                </div>
            </div>
            <div class="col-6">
                <div class="stat-card">
                    <div class="stat-value" id="maxSpeed">-</div>
                    <div class="stat-label">Vitesse max</div>
                </div>
            </div>
            <div class="col-6">
                <div class="stat-card">
                    <div class="stat-value" id="totalAscent">-</div>
                    <div class="stat-label">Dénivelé +</div>
                </div>
            </div>
            <div class="col-6">
                <div class="stat-card">
                    <div class="stat-value" id="totalDescent">-</div>
                    <div class="stat-label">Dénivelé -</div>
                </div>
            </div>
        </div>
    </div>
</div>