<div class="tab-pane fade" id="speed" role="tabpanel">
    <div class="chart-container">
        <canvas id="speedChart" width="400" height="200"></canvas>
    </div>
    <div class="speed-stats mt-3">
        <div class="row g-2">
            <div class="col-4">
                <small class="text-muted">Min:</small>
                <div id="minSpeed">-</div>
            </div>
            <div class="col-4">
                <small class="text-muted">Moy:</small>
                <div id="avgSpeedDetail">-</div>
            </div>
            <div class="col-4">
                <small class="text-muted">Max:</small>
                <div id="maxSpeedDetail">-</div>
            </div>
        </div>
    </div>
</div>